<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Timee.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="DefaultDisplayMember" value="Name" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <Timee.Properties.Settings>
      <setting name="ShowHints" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UserConfiguration" serializeAs="String">
        <value>&lt;UserConfiguration&gt;
  &lt;Location&gt;
    &lt;Location Order="0" Name="Gliwice"/&gt;
  &lt;/Location&gt;
  &lt;Project&gt;
    &lt;Project Order="0" Name="Sample Project"/&gt;
  &lt;/Project&gt;
  &lt;Sub-project&gt;
    &lt;Sub-project Order="0" Name="Sample Subproject"/&gt;
  &lt;/Sub-project&gt;
  &lt;Task&gt;
    &lt;Task Order="0" Name="Sample task"/&gt;
  &lt;/Task&gt;
&lt;/UserConfiguration&gt;</value>
      </setting>
      <setting name="MainTasks" serializeAs="String">
        <value />
      </setting>
      <setting name="PredefinedTasks" serializeAs="String">
        <value>&lt;Root&gt;&lt;/Root&gt;</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
    </Timee.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
 <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="DataServiceBinding" receiveTimeout="00:10:00"
          sendTimeout="00:10:00">
          <binaryMessageEncoding />
          <httpsTransport maxReceivedMessageSize="2147483647" authenticationScheme="Negotiate"
            maxBufferSize="2147483647" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://timesheet.lgbs.pl/WS/DataService.svc" binding="customBinding"
        bindingConfiguration="DataServiceBinding" contract="TimesheetService.DataService"
        name="DataServiceBinding" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>