<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_DataService">
                    <binaryMessageEncoding />
                    <httpsTransport authenticationScheme="Negotiate" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://timesheet.lgbs.pl/WS/DataService.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_DataService"
                contract="TimesheetService.DataService" name="CustomBinding_DataService">
                <identity>
                    <userPrincipalName value="TimesheetService@LGBSPL.LGBS" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>